@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Averia+Sans+Libre&family=Syne&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'ABeeZee', sans-serif;
}
.wrapper{
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}
.text-center{
    text-align: center;
}
.clearfix{
    float: none;
    clear: both;
}
/* css for menu */
.menu{
    background-color: #2A9D8F;
    border-bottom: 1px solid #585858;
}
.menu ul{
    list-style-type: none;
}
.menu ul li{
    display: inline;
    padding: 1%;
}
.menu ul li a{
    text-decoration: none;
    font-weight: bold;
    color: #E9C46A;
}
.menu ul li a:hover{
    color: #e7bc4e;
}
.tbl-full{
    width: 100%;
}
.tbl-am{
    width: 30%;
}

table tr th{
    border-bottom: 1px solid black;
    padding: 1% 0;
    text-align: left;
}
table tr td{
    padding: 1%;
}
/* ปุ่ม */
.btn-primary{
    background-color: #2A9D8F;
    padding: 1%;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}
.btn-primary:hover{
    background-color: #0c6056;
}

.btn-secondary{
    background-color: #E9C46A;
    padding: 1%;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}
.btn-secondary:hover{
    background-color: #7c5f15;
}

.btn-danger{
    background-color: #e96a6a;
    padding: 1%;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}
.btn-danger:hover{
    background-color: #7c1515;
}


/* css for main */
.main-content{
    background-color: #ffffff;
    padding: 3% 0;
}
.collum{
    width: 18%;
    background-color: #E9C46A;
    margin: 1%;
    padding: 2%;
    float: left;
}

/* footer */
.footer{
    background-color: #585858;
    color: #ffffff;
}